# Git
.git/
.gitignore
.gitmessage

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor
.vscode/
.idea/
.cursorrules

# Local files
.env*
.python-version
.welcome_shown
.zshrc*
.history/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/

# Logs
logs/

# Data
data/

# Docker
.docker/
docker-compose.gcloud.yml
